.loader{
    height: 120px;
    width: 120px;
    border-radius: 50%;
    border: 16px solid #f3f3f3;
    border-top: 16px solid goldenrod;
    animation: spin 2s linear infinite;
}
@keyframes spin {
   0%{
        rotate: 0deg;
   }
   100%{
    rotate: 360deg;
   }
}
